html {
  background-color: #e0e0e0;
}

.app-name {
  font-size: 2.3rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px; /* Set a maximum width for better readability on larger screens */
  margin: 35px auto;
  border-radius: 20px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.city-search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #38c43a;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: rgb(222, 235, 217);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

.city-name {
  font-size: 1.25em;
}

h2 {
  margin-bottom: 10px;
}

.date {
  font-size: 1.25em;
  font-weight: 500;
}

.icon-temp {
  font-size: 3rem;
  font-weight: 700;
  color: #0c42c1;
  text-align: center;
}

.deg {
  font-size: 1.5rem;
}

.des-wind {
  font-weight: 500;
}

.error-message {
  text-align: center;
  color: rgb(204, 13, 13);
  font-size: 20px;
  font-weight: bold;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .App {
    max-width: 800px;
  }

  .icon-temp {
    font-size: 4rem;
  }

  .deg {
    font-size: 2rem;
  }
}
